<html xmlns:th="http://thymeleaf.org">
<body>

<h1>  TP3-AKKA </h1>


<form action="/akka/init" method="post">
<input type="submit" th:value="Initialisation">
</form>


<h1> Nom du fichier à importer </h1>




<label for="avatar">Importez un fichier </label>


<form action="/akka/addFile" method="post">
<input type="file" id="avatar" name="file" accept="image/png, image/jpeg, .txt" />
<input type="submit" th:value="submit">
</form>

<h1> Trouver le mot </h1>

<form action="/akka/findMot" method="post">
<p> Trouvez l'occurence d'un mot :<input type="text" name="mot">
<input type="submit" value="submit">
</form>

<div >
	
	<p th:text="'le mot ' +${motToFind} +' apparait ' + ${occurence} + ' fois'"/>
</div>


</body>

</html>

